language: ruby
cache: bundler
script: "bundle exec rake"
sudo: false
before_install: gem install bundler -v 1.12.4
rvm:
  - 2.2.5
  - 2.3.0
  - ruby-head
matrix: 
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
